@model IEnumerable<PracticaSupervisada.Models.Servicio>

@{
    ViewData["Title"] = "Servicio";
}
<div class="container">

    <div class="row  g-4 mt-5 mb-3">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="~/fotos/arreglo de abolladuras.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-3 fw text-center">Microbollos</h5>
                    <p class=" card-text fw-normal">Eliminamos pequeñas abolladuras sin dañar la pintura original, devolviendo la apariencia impecable a tu vehículo de forma rápida y eficiente.</p>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="~/fotos/service-worker-painting-car-auto-service.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-text fs-3  text-center">Pintura Automotriz</h5>
                    <p class=" card-text fw-normal">Restauramos el color y brillo de tu vehículo con acabados de alta calidad, utilizando pintura profesional para garantizar un resultado duradero y como nuevo.</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="~/fotos/reparacionchapajpg.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-text text-center  fs-3">Reparacion de chapa</h5>
                    <p class="  card-text fw-normal">Reparamos daños en la carrocería, restaurando la estructura y apariencia original de tu vehículo con técnicas precisas y materiales de calidad.</p>
                </div>

            </div>
        </div>

    </div>
   


    
   

</div>

